:root{
  --whiteColor: #fff;
  --lightBlack: #444;
}
*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
}

#main{
  width: 100%;
  min-height: 100vh;
}

#top{
  width: 100%;
  min-height: 60vh;
  background-image: url(https://images.unsplash.com/photo-1597714026720-8f74c62310ba?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: 60% 40%;
}

.overlay{
  width: 100%;
  min-height: inherit;
  background: rgba(0, 0, 0, 0.114);
  position: relative;
}

.text{
  width: 100%;
  position: absolute;
  bottom: 20%;
  padding: 0 10vw;
  color: var(--whiteColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text_right{
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}

.text_right p{
  font-size: 12px;
  width: 40%;
}

.text h1{
  font-size: 6vw;
  font-weight: 500;
}

.text_right i{
  margin-left: 13px;
  cursor: pointer;
}

#bottom{
  min-height: 40vh;
  width: 100%;
  background: blue;
  display: flex;
}

#one{
  width: 25%;
  min-height: inherit;
  background: var(--whiteColor);
  padding: 30px;
}

#one p{
  font-size: 12px;
  margin-top: 20px;
}

#two{
  width: 25%;
  min-height: inherit;
  background-image: url(https://plus.unsplash.com/premium_photo-1663100550936-75839abfc3e6?q=80&w=1032&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: right;
}

#three{
  width: 20%;
  min-height: inherit;
  background: rebeccapurple;
}

.three_top{
  width: 100%;
  min-height: 20vh;
  background: orangered;
  padding: 20px;
  color: var(--whiteColor);
}

.three_top p{
  font-size: 10px;
  margin-top: 10px;
}

.three_bottom{
  width: 100%;
  min-height: 20vh;
  background-image: url(https://images.unsplash.com/photo-1490750967868-88aa4486c946?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}

#four{
  min-height: inherit;
  width: 30%;
  background: var(--lightBlack);
  color: var(--whiteColor);
  padding: 30px;
}

.notification{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.notification .photo{
  width: 40px;
  height: 40px;
  background: red;
  border-radius: 50%;
}

.notification p{
  width: 86%;
  font-size: 12px;
  margin-left: 10px;
}

@media (max-width: 500px) {
  .overlay .text{
    flex-direction: column;
    /* align-items: flex-start; */
  }

  .text h1{
    font-size: 10vw;
    margin-top: 0 auto;
  }

  .overlay .text .text_right{
    flex-direction: column;
    align-items: flex-start;
  }

  .overlay .text .text_right p{
    width: initial;
    margin-top: 20px;
    text-align: center;
    font-weight: 500;
  }

  .overlay .text .text_right .icon{
    margin-top: 30px;
  }

  #bottom{
    flex-direction: column;
    min-height: 20vh;
  }

  #one{
    width: 100%;
    min-height: 20vh;
  }

  #two{
    width: 100%;
    min-height: 20vh;
  }

  #three{
    width: 100%;
    flex-direction: column;
    min-height: 20vh;
  }

  #four{
    width: 100%;
    min-height: 30vh;
  }
}
